.contact-section {
  padding: 60px 20px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-wrapper h2 {
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  width: 100%;            
  display: flex;
  flex-direction: column;
     
}
.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
.contact-form button {
  padding: 12px;
  border: none;
  background: #ff9f1c;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}
.contact-form button:hover {
  background: #ff2f2f;
}
.mensaje-exito {
  color: #6ab04c;
  margin-top: 15px;
}

.lineContact{
  
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin: 200px 100px 0px;

}
