
.despedida {
    display: relative;
    align-items: center;
    color: aliceblue;
    text-align: center;
    flex-direction: column;
    font-feature-settings: normal;
    justify-content: center;
    line-height: 24px;
    position: relative;
    tab-size: 4;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 100%;
}

.linkContacto {
    text-decoration: none;
    color: aliceblue;
    border-radius: 5px;
    padding: 0 5px;
}

.ulBotonesAbajo {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0 50px;
}